<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>


<h2><%= @list.name %></h2>
<br>



  <% @list.bookmarks.each do |bookmark| %>

  <div class="border">
    <img src="<%= bookmark.movie.poster_url %>" alt="", style= "height: 200px">

    <h2><%= bookmark.movie.title %> </h2>
    <p><%= bookmark.comment %></p>

    <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
  </div>




  <% end %>




<%= link_to "home_page", root_path %>
<%= link_to "Add_Bookmark", new_list_bookmark_path(@list) %>
